<h1>Edit Transaction</h1>
<div class="container">
<form action="/transactions/<%= @transaction.id %>" method="post">
<label>
  Select a tag
<select name="tag_id">
<% for tag in @tags %>
  <option value="<%= tag.id%>"><%= tag.tag_name%></option>
  <% end %>
</select> 
</label> 
<label>
select a merchant
<select name="merchant_id">
<% for merchant in @merchants %>
  <option value="<%= merchant.id%>"><%= merchant.merchant_name %></option>
  <% end %>
</select>
</label>
    <label>
 transaction amount:
   <input type="text" name="transaction_amount" value="<%= @transaction.transaction_amount %>" >
 </label>
 <label>
   item description
   <input type="text" name="item_description" value="<%= @transaction.item_description %>" >
 </label>
  <button class="button update" type='submit' value="Update">UPDATE</button>
 </form>
 </label>