<h1>Transaction Details</h1>
<div class="container">
<p>transaction id: <%= @more_details.id %></p>
<p>tag id: <%= @more_details.tag_name %></p>
<p>merchant id: <%= @more_details.merchant_name %></p>
<p>Amount: <%= @more_details.transaction_amount %></p>
<p>description: <%= @more_details.item_description %></p>
<p class="button"><a href="/transactions/<%= @transaction.id%>/edit">EDIT</a></p>
<form action="/transactions/<%=@transaction.id%>/delete" method="post">
<button class="delete button" type="submit" value="DELETE">DELETE</button>
</form>
</div>