<h1>Transaction Details</h1>
<div class="container">
  <div class="cell">
    <p><strong>Tag: </strong><%= @more_details.tag_name %></p>
    <p><strong>Merchant: </strong><%= @more_details.merchant_name %></p>
    <p><strong>Amount: </strong>£<%=sprintf '%.2f', @more_details.transaction_amount %></p>
    <p><strong>Description:</strong> <%= @more_details.item_description %></p>
  </div>
  <a href="/transactions/<%= @transaction.id%>/edit"><button class="edit_button button">EDIT</button></a>
  <form action="/transactions/<%=@transaction.id%>/delete" method="post">
    <button class="delete_button button" type="submit" value="DELETE">DELETE</button>
  </form>
</div>